@import "settings";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: $color-one;
  color: $color-two;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: $color-one;
  color: $color-two;
  text-decoration: none;
  padding: 1em 2em;

  margin: 0.5em 0;
  &:hover {
    background: $color-two;
    color: $color-one;
  }
}

//HEADER
#header {
  min-height: 400px;
  color: $color-two;
  text-align: center;
  .header-img {
    position: absolute;
    background: $color-one url("../images/header.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0.6;
  }
}

#header .content-wrapper,
#section-hello .content-wrapper {
  padding: 0 1.5em;
}

//section hello

#section-hello {
  background: $color-two;
  color: $color-one;
  padding-bottom: 2em;
}

//section cards

#section-cards {
  padding: 2em 1em 1em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
    color: $color-one;
    padding-top: 10em;
    &:hover {
      .card-content {
        .card-text {
          max-height: 100em;
        }
      }
    }
  }
}

.card-content {
  position: absolute;
  width: 100%;
  height: 10em;
  top: 0;
  .card-title {
    height: 10em;
    background-color: $color-two;
  }
  .card-text {
    overflow: hidden;
    background: white;
    opacity: 0.8;
    height: auto;
    max-height: 0;
    transition: all 2s;
    padding: 0em 1em;
  }
}

//section subscribe
#section-sub {
  background: $color-two;
  color: $color-one;
  padding: 2em;

  .email-input {
    padding: 1em 2em;
  }
}

//section contact

#section-contact h2 {
  padding-bottom: 0;
}

#section-contact ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}
#section-contact li {
  padding: 1em;
  a {
    font-size: 2em;
    color: $color-two;
  }
}

//Footer

#footer {
  padding: 1em;
  background: black;
  color: $color-two;
  text-align: center;
}

//up arrow
#upArrow {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  color: $color-arrow;
  cursor: pointer;
  font-size: 1.7em;
}

//Media
@media (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
  }
  .content-wrapper,
  #section-cards ul {
    grid-column: 2/3;
  }

  #section-cards ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 31%;
    }
  }
}

@media (min-width: 1400px) {
  .grid {
    grid-template-columns: 1fr 1000px 1fr;
  }
}
